/* <!-- SECTION 4: SHIPPING --> */

#shipping_type{ 
    display: flex;
    flex-direction: column;
}

#shipping_date  {
    display: flex;
    flex-direction: column;
}

#gift_check {
    display: flex;
    flex-direction: column;
}