* {
    margin: 0 auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#43322F;
}

body{
    margin: 0 auto;
    width:70%;
    background-color:#EDE8E2;
}

header{
    width:100%;
    min-height:100px;
    background-color:#EDE8E2;
    border-radius:10px 10px 0px 0px;
}

.general{
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x:hidden;
    scroll-behavior: smooth;
    background-color:#EDE8E2;
}

.slide{
    width:100%;
    height:700px;
    flex-shrink: 0;
    scroll-snap-align: start;
    display:flex;
    position:relative;
}

section{
    width:100%;
    display:flex;
}

main{
    display: flex;
    position:relative;
    width:60%;
    height:90%;
}

aside{
    padding:0% 2%;
    width:40%;
    height:90%;
    z-index:2;
}

aside *{
    width:100%;
    margin-bottom:10px;
}

.footer{
    position:absolute;
    bottom:0px;
    width:100%;
    height:10%;
}



*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

button{
    background-color:#A69D94;
    width:100%;
    padding: 18px 0px;
    text-align: center;
    border:0px;
}

button:hover{
    background-color:#807871;
}

button:focus{
    background-color:#3d3936;
    color:#A69D94;
}

select{
    height:50px;
    border:none;
}

*::placeholder{
    padding-left:10px;
}

fieldset{
    border-radius:10px;
    border:1px solid #A69D94;
}

legend{
    /* border:1px solid #A69D94; */
    text-align:center;
    padding:0px 100px;
    border-radius:10px;
}




/* HEADER */
#progress-bar-container{
    position:relative;
    width:100%;
    height:75px;
    display:flex;
    flex-direction:column;
    padding:10px;
}

#progress-bar-titles{
    width:100%;
}

#progress-bar-titles ul{
    width:100%;
    display:flex;
}

#progress-bar-titles ul li{
    display:block;
}

#progress-bar-checkpoints{
    position:absolute;
    top:37px;
    width:100%;
    display:flex;
}

#progress-bar-checkpoints>div{
    width:25%;
}

.circle-border{
    position:relative;
    width:30px;
    height:30px;
    margin:0 auto;
    overflow:hidden;
    border-radius:100%;
    z-index:1;
    background-color:#EDE8E2;
}
.circle-border:after{
    content:'';
    position:absolute;
    left:5px;
    top:5px;
    border-radius:100%;
    width:20px;
    height:20px;
    box-shadow: 0px 0px 0px 2000px #C9C2BA;
}

#progress-bar{
    position:absolute;
    top:37px;
    left:12.4%;
    right:10.8%;
    height:10px;
    border-radius:10px;
    margin-top:10px;
    background-color:#EDE8E2;
    z-index:0;
}

#progress{
    display:block;
    margin-left:0;
    border-radius:10px;
    width:66%;
    height:10px;
    background-color:#A69D94;
}

.circle-one{
    background-color:#A69D94;
}

.circle-two{
    background-color:#A69D94;
}

.circle-three{
    background-color:#A69D94;
}

.circle-four{
}

/* TIMER */
.timer {
    transition: all 3s;
}

.off {
    transition: all 3s;
    opacity: 0;
}

/* SECTION 1: PRODUCT */


/* left side */

.left{
    width:70px;
    height:100%;
    position:absolute;
    top:5%;
    left:10%;
}

.left div{
    width:70px;
    height:90px;
    margin-bottom:10px;
}

.left div:hover{
    border:1px solid;
}

.left .img-one{
    background-image:url("img/hmgoepprodBlanca.jpeg");
    background-size:cover;
}

.left .img-two{
    display: block;
    background-image:url("img/hmgoepprodBlanca2.jpeg");
    background-size:cover;
}

.center{
    margin:0 auto;
    width:100%;
    margin:2%;
    height:100%;
    background-image:url("img/hmgoepprodBlanca.jpeg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.atributo{
    font-weight:bold;
}

.price{
    margin-top:-20px;
    font-size:30px;
}

.clothes-color{
    display:flex;
    flex-flow:wrap;
}
.clothes-color *{
    width:50px;
    height:70px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

.clothes-color *:hover{
    border:1px solid #A69D94;
}

.crema{
    background-image:url("img/hmgoepprodBlanca.jpeg");
}

.marron{
    background-image:url("img/hmgoepprodMarron.jpeg");
}

.rojo{
    background-image:url("img/hmgoepprodRojo.jpeg");
}

.beige{
    background-image:url("img/hmgoepprodBeige.jpeg");
}

.verde{
    background-image:url("img/hmgoepprodVerde.jpeg");
}

.azul{
    background-image:url("img/hmgoepprodAzul.jpeg");
}

#talla{
    height:50px;
    border:none;
}

/* SECTION 2 : PORFILE */

#two main{
    display:flex;
    flex-direction:column;
}

#two main fieldset{
    width:60%;
    margin-left:20%;
}

#two main h2{
    margin-left:0;
}

#two main form{
    margin-left:0;
    display:flex;
    flex-direction:column;
    padding:20px 10%;
}

#two main form input{
    height:50px;
    border:none;
    margin-top:10px;
    margin-bottom:20px;
}


/* <!-- SECTION 3: ADDRESS --> */

#three main{
    display:flex;
    flex-direction:column;
    margin-left:0;
}

#three main h2{
    margin-left:0;
}

#three main form{
    width:100%;
    margin-left:0;
    display:flex;
}

#three main form input{
    height:50px;
    border:none;
    margin-top:10px;
    margin-bottom:20px;
}

.uno{
    margin:0 auto;
    width:50%;
    display:flex;
    flex-direction:column;
}

.dos{
    margin:0 auto;
    width:50%;
    display:flex;
    flex-direction:column;
}

.uno *,.dos *{
    width:90%;
}

#phone{
    display:flex;
    margin-left:0;
}

#phone select{
    width:70px;
}

#phone input{
    position:relative;
    top:-10px;
    padding:5px;
}

#regular-address{
    display:flex;
}

#regular-address input{
    width:20px;
    height:20px;
}
#regular-address p{
    position:relative;
    top:25px;
    left:10px;
}


/* <!-- SECTION 4: SHIPPING --> */

#four main{
    display:flex;
    flex-direction:column;
}

#four main fieldset{
    width:60%;
    margin-left:20%;
}

#four main fieldset *{
    margin-bottom:10px;
}

.message{
    margin-top:10px;
    width:100%;
    height:100px;
}

#shipping-date{
    margin:10px 0px;
    display:block;
    border:1px solid;
    padding:0px 10px 10px;
}

#file-uploader{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    text-align:center;
    padding:15px 0px 5px;
}

#file-label {
    cursor: pointer;
    background-color:#A69D94;
    width:100%;
    padding: 18px 0px;
    text-align: center;
    border:0px;
}

#file-label:hover{
    background-color:#807871;
}

#file-label:focus{
    background-color:#3d3936;
    color:#A69D94;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* <!-- SECTION 5: FINISH --> */

#five main fieldset{
    display:flex;
    flex-wrap:wrap;
}

.two-cols{
    width:50%;
    display:flex;
    flex-direction:column;
    padding:0 5%;
}

.two-cols *{
    width:100%;
}

.two-cols img{
    height:100%;
}

#itemDescription{
    display:flex;
    flex-direction:column;
}

#terms {
    width: 100%;
    display: flex;
}